#app {
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

#nav {
  padding: 30px;

  a {
    color: blue;

    a:hover,
    a:focus,
    &.router-link-exact-active {
      color: blue;
      border-bottom: 1px solid blue;
    }
  }
}
